<div class="modal-header">
  <h3 class="modal-title">{{'COMMON.ADD_OWNER'|translate}}</h3>
</div>
<div class="modal-body">
  <form novalidate class="state-form form-horizontal" name="omc.stateForm">
    <div class="form-group" ng-class="{ 'has-error': omc.stateForm.inputName.$touched && omc.stateForm.inputName.$invalid }">
        <label class="control-label col-sm-4" for="inputName">{{'PURCHASE.NAME'|translate}}</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="name" name="inputName" ng-model="omc.owner.name" required ng-minlength="2" ng-maxlength="15" />
          <div ng-messages="omc.stateForm.inputName.$error" ng-show="omc.stateForm.inputName.$touched">
            <div ng-messages-include="./app/shared/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': omc.stateForm.inputSurname.$touched && omc.stateForm.inputSurname.$invalid }">
        <label class="control-label col-sm-4" for="inputSurname">{{'PURCHASE.SURNAME'|translate}}</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="postalCode" name="inputSurname" ng-model="omc.owner.surname" required ng-minlength="2" ng-maxlength="15" />
          <div ng-messages="omc.stateForm.inputSurname.$error" ng-show="omc.stateForm.inputSurname.$touched">
            <div ng-messages-include="./app/shared/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': omc.stateForm.inputJmbg.$touched && omc.stateForm.inputJmbg.$invalid }">
        <label class="control-label col-sm-4" for="inputJmbg">JMBG</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="postalCode" name="inputJmbg" ng-model="omc.owner.jmbg" required ng-pattern="/^[0-9]*$/" ng-minlength="13" ng-maxlength="13" />
          <div ng-messages="omc.stateForm.inputJmbg.$error" ng-show="omc.stateForm.inputJmbg.$touched">
            <div ng-messages-include="./app/shared/messages.html"></div>
            <p ng-message="pattern">{{'MESSAGES.NUMBER'|translate}} 13)</p>

          </div>
        </div>
      </div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="omc.validateUser()">{{'COMMON.SAVE'|translate}}</button>
  <button class="btn btn-danger" type="button" ng-click="omc.cancel()">{{'MODAL.CANCEL'|translate}}</button>
</div>
</form>
