<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row divPicture">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="jumbotron">
          <h2>
            {{'PURCHASE.TITLE'|translate}}
          </h2>
          <p>
            {{'PURCHASE.TEXT'|translate}}
          </p>
          <p>
            <a class="btn btn-primary btn-large" ui-sref='main.home'>  {{'PURCHASE.HOME_PAGE'|translate}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h2>
          <strong>{{'DETAILS_PAGE.TITLE'|translate}}
            <strong>
        </h2>

        <h3>
          {{'DETAILS_PAGE.LEFT'|translate}} : {{idc.numToInsert}}
        </h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>
                {{'PURCHASE.NAME'|translate}}&nbsp;{{"COMMON.AND"|translate}}&nbsp;{{'PURCHASE.SURNAME'|translate}}
              </th>
              <th>
                JMBG
              </th>
              <th>
                {{'PURCHASE.PASSPORT'|translate}}
              </th>
              <th>
                {{'PURCHASE.ADDRESS'|translate}}
              </th>
              <th>
                {{'PURCHASE.PHONE_NUMBER'|translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in idc.insurance.travel.users" ng-click="idc.editSelected(user);idc.openModal();">
              <td>
                {{user.name}}&nbsp;{{user.surname}}
              </td>
              <td>
                {{user.jmbg}}
              </td>
              <td>
                {{user.passportNum}}
              </td>
              <td>
                {{user.address}}
              </td>
              <td>
                {{user.phoneNum}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <button type="button" ng-click="idc.addUser();idc.openModal()" class="btn btn-info btn-large pull-left" data-toggle="tooltip" ng-disabled="idc.numToInsert == 0" data-placement="left" title="{{'DETAILS_PAGE.ADD_TOOLTIP'|translate}}">
        {{'DETAILS_PAGE.ADD_USER'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </div>

    <div class="col-md-3 col-md-offset-8">
      <button type="button" ui-sref='main.insuranceDetails' ng-click="ic.setObject()" class="btn btn-success btn-large pull-right" ng-disabled="idc.numToInsert > 0" data-toggle="tooltip" data-placement="top" title="{{'MODAL.TOOLTIP'|translate}}">
        {{'COMMON.NEXT'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <br>
      <br>
      <uib-accordion close-others="true">
        <uib-accordion-group heading="{{'DETAILS_PAGE.VEHICLE'|translate}}">
          <form class="form-horizontal" role="form">
            <div class="form-group">

              <label for="inputInsuranceDurRE" class="col-sm-2 control-label">
                {{'PURCHASE.INSURANCE_DURATION'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.INSURANCE_DURATION'|translate}}" required="true" ng-model="idc.insurance.vehicle.duration">
              </div>

            </div>


            <div class="form-group">

              <label for="inputInsurPack" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_PACKAGE.MAIN'|translate}}
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="selContinent" ng-model="idc.insurance.vehicle.package">
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.TOWING'|translate}}</option>
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.REPAIR'|translate}}</option>
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.SLEEPOVER'|translate}}</option>
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.ALTERNATIVE'|translate}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceSizeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.TYPE'|translate}}
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="selContinent" ng-model="ic.insurance.vehicle.type" ng-options="type.make_display for type in idc.types">
                  <option value="">{{'PURCHASE.VEHICLE_INFO.TYPE'|translate}}</option>
                </select>
              </div>
            </div>


            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.MODEL'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.MODEL'|translate}}" required="true" ng-model="idc.insurance.vehicle.model">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceEsValueRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.YEAR_OF_PRODUCTION'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.YEAR_OF_PRODUCTION'|translate}}" required="true" ng-model="idc.insurance.vehicle.productionYear">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.REGISTRATION_NUM'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.REGISTRATION_NUM'|translate}}" required="true" ng-model="idc.insurance.vehicle.registrationNumber">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.VIN_NUM'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.VIN_NUM'|translate}}" required="true" ng-model="idc.insurance.vehicle.vinNumber">
              </div>
            </div>
          </form>

        </uib-accordion-group>

        <uib-accordion-group heading="{{'DETAILS_PAGE.REALESTATE'|translate}}">
          <form class="form-horizontal" role="form">
            <div class="form-group">

              <label for="inputInsuranceDurRE" class="col-sm-2 control-label">
                {{'PURCHASE.INSURANCE_DURATION'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.INSURANCE_DURATION'|translate}}" required="true" ng-model="ic.insurance.realEstate.duration">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceSizeRE" class="col-sm-2 control-label">
                {{'PURCHASE.RE_SIZE'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.RE_SIZE'|translate}}" required="true" ng-model="ic.insurance.realEstate.size">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.RE_AGE'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.RE_AGE'|translate}}" required="true" ng-model="ic.insurance.realEstate.age">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceEsValueRE" class="col-sm-2 control-label">
                {{'PURCHASE.RE_ESTIMATE_VALUE'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.RE_ESTIMATE_VALUE'|translate}}" required="true" ng-model="ic.insurance.realEstate.estimatedValue">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsurAmount" class="col-sm-2 control-label">
                {{'PURCHASE.RE_PACKAGE.MAIN'|translate}}
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="selContinent" ng-model="ic.insurance.realEstate.package">
                  <option>{{'PURCHASE.RE_PACKAGE.FLOOD'|translate}}</option>
                  <option>{{'PURCHASE.RE_PACKAGE.FIRE'|translate}}</option>
                  <option>{{'PURCHASE.RE_PACKAGE.BURGLARY'|translate}}</option>
                  <option>{{'PURCHASE.RE_PACKAGE.EARTHQUAKE'|translate}}</option>
                </select>
              </div>
            </div>
          </form>

        </uib-accordion-group>
      </uib-accordion>

    </div>

  </div>


  <div class="col-md-12">
    <br>
    <br>
    <br>
  </div>
</div>
</div>
