<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row divPicture">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="jumbotron">
          <h2>
            {{'PURCHASE.TITLE'|translate}}
          </h2>
          <p>
            {{'PURCHASE.TEXT'|translate}}
          </p>
          <p>
            <a class="btn btn-primary btn-large" ui-sref='main.home'>  {{'PURCHASE.HOME_PAGE'|translate}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <h2>
          <strong>{{'MARKETING.PART1'|translate}}
            <strong>
        </h2>
        <hr>

        <form class="form-horizontal" role="form">
          <div class="form-group">

            <label for="inputName" class="col-sm-2 control-label">
              {{'PURCHASE.NAME'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="{{'PURCHASE.NAME'|translate}}" required="true" autofocus="autofocus" ng-model="ic.insurance.name">
            </div>
          </div>
          <div class="form-group">

            <label for="inputSurname" class="col-sm-2 control-label">
              {{'PURCHASE.SURNAME'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="surname" placeholder="{{'PURCHASE.SURNAME'|translate}}" required="true" ng-model="ic.insurance.surname">
            </div>
          </div>
          <div class="form-group">

            <label for="inputPassport" class="col-sm-2 control-label">
              {{'PURCHASE.PASSPORT'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="passport" placeholder="{{'PURCHASE.PASSPORT'|translate}}" required="true" ng-model="ic.insurance.passportNumber">
            </div>
          </div>

          <div class="form-group">

            <label for="inputAddress" class="col-sm-2 control-label">
              {{'PURCHASE.ADDRESS'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" placeholder="{{'PURCHASE.ADDRESS'|translate}}" required="true" ng-model="ic.insurance.address">
            </div>
          </div>

          <div class="form-group">

            <label for="inputPhoneNum" class="col-sm-2 control-label">
              {{'PURCHASE.PHONE_NUMBER'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phoneNum" placeholder="{{'PURCHASE.PHONE_NUMBER'|translate}}" required="true" ng-model="ic.insurance.phoneNumber">
            </div>
          </div>

          <hr>

          <div class="form-group">

            <label for="inputInsuranceDur" class="col-sm-2 control-label">
              {{'PURCHASE.INSURANCE_DURATION'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.INSURANCE_DURATION'|translate}}" required="true" ng-model="ic.insurance.travel.duration">
            </div>
          </div>

          <div class="form-group">

            <label for="inputTravelingReg" class="col-sm-2 control-label">
              {{'PURCHASE.TRAVELING_REGION'|translate}}
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="selContinent" ng-model="ic.insurance.travel.region">
                <option>{{'CONTINENTS.EUROPE'|translate}}</option>
                <option>{{'CONTINENTS.ASIA'|translate}}</option>
                <option>{{'CONTINENTS.SOUTH_AMERICA'|translate}}</option>
                <option>{{'CONTINENTS.NORTH_AMERICA'|translate}}</option>
                <option>{{'CONTINENTS.AUSTALIA'|translate}}</option>
                <option>{{'CONTINENTS.AFRICA'|translate}}</option>
                <option>{{'CONTINENTS.ANTARCTIC'|translate}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">

            <label for="inputNumberOfPersons" class="col-sm-2 control-label">
              {{'PURCHASE.NUMBER_OF_PERSONS'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="number" min="0" class="form-control" id="numberOfPersons" placeholder="{{'PURCHASE.NUMBER_OF_PERSONS'|translate}}" required="true" ng-model="ic.insurance.travel.numberOfPersons">
            </div>
          </div>

          <div class="form-group">

            <label for="inputPersonsAge" class="col-sm-2 control-label">
              {{'PURCHASE.PERSONS_AGE'|translate}}
            </label>
            <div class="col-sm-10">
              <select multiple class="form-control" id="selContinent" ng-model="ic.insurance.travel.ageOfPersons">
                <option> {{'YEARS.YOUNGER'|translate}} 18 {{'YEARS.YEARS'|translate}}</option>
                <option> 18-40 {{'YEARS.YEARS'|translate}}</option>
                <option> 40-65 {{'YEARS.YEARS'|translate}}</option>
                <option> {{'YEARS.OVER'|translate}} 65 {{'YEARS.YEARS'|translate}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">

            <label for="inputDoesSport" class="col-sm-2 control-label">
              {{'PURCHASE.DOES_SPORT'|translate}}
            </label>
            <div class="col-sm-10">
              <div class="checkbox">

                <label>
                  <input type="checkbox" name="isDoingSport" ng-model="checked"> {{'PURCHASE.CLICK_SPORT'|translate}}
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-hide="!checked">

            <label for="inputSport" class="col-sm-2 control-label">
              {{'PURCHASE.SPORT'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="sport" placeholder="{{'PURCHASE.SPORT'|translate}}" ng-model="ic.insurance.travel.sport">
            </div>
          </div>

          <div class="form-group">

            <label for="inputInsurAmount" class="col-sm-2 control-label">
              {{'PURCHASE.INSURANCE_AMOUNT'|translate}}
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="selContinent" ng-model="ic.insurance.travel.insuredAmount">
                <span class="input-group-addon">$</span>
                <option>10.000</option>
                <option>20.000</option>
                <option>30.000</option>
                <option>40.000</option>
              </select>

            </div>
          </div>
          <!-- Real estate insurance -->
          <div ng-hide="!ic.REButIsClicked" id="realEstateFields">
            <h2>
              <strong>{{'MARKETING.PART2'|translate}}
                <strong>
            </h2>

            <hr>

            <div class="form-group">

              <label for="inputInsuranceDurRE" class="col-sm-2 control-label">
                {{'PURCHASE.INSURANCE_DURATION'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.INSURANCE_DURATION'|translate}}" required="true" ng-model="ic.insurance.realEstate.duration">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceSizeRE" class="col-sm-2 control-label">
                {{'PURCHASE.RE_SIZE'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.RE_SIZE'|translate}}" required="true" ng-model="ic.insurance.realEstate.size">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.RE_AGE'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.RE_AGE'|translate}}" required="true" ng-model="ic.insurance.realEstate.age">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceEsValueRE" class="col-sm-2 control-label">
                {{'PURCHASE.RE_ESTIMATE_VALUE'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.RE_ESTIMATE_VALUE'|translate}}" required="true" ng-model="ic.insurance.realEstate.estimatedValue">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsurAmount" class="col-sm-2 control-label">
                {{'PURCHASE.RE_PACKAGE.MAIN'|translate}}
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="selContinent" ng-model="ic.insurance.realEstate.package">
                  <option>{{'PURCHASE.RE_PACKAGE.FLOOD'|translate}}</option>
                  <option>{{'PURCHASE.RE_PACKAGE.FIRE'|translate}}</option>
                  <option>{{'PURCHASE.RE_PACKAGE.BURGLARY'|translate}}</option>
                  <option>{{'PURCHASE.RE_PACKAGE.EARTHQUAKE'|translate}}</option>
                </select>
              </div>
            </div>


          </div>

          <!-- VEHICLE INSURANCE -->
          <div ng-hide="!ic.VButIsClicked" id="vehicleFields">
            <h2>
              <strong>{{'MARKETING.PART3'|translate}}
                <strong>
            </h2>

            <hr>

            <div class="form-group">

              <label for="inputInsuranceDurRE" class="col-sm-2 control-label">
                {{'PURCHASE.INSURANCE_DURATION'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="{{'PURCHASE.INSURANCE_DURATION'|translate}}" required="true" ng-model="ic.insurance.vehicle.duration">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsurAmount" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_PACKAGE.MAIN'|translate}}
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="selContinent" ng-model="ic.insurance.vehicle.package">
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.TOWING'|translate}}</option>
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.REPAIR'|translate}}</option>
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.SLEEPOVER'|translate}}</option>
                  <option>{{'PURCHASE.VEHICLE_PACKAGE.ALTERNATIVE'|translate}}</option>
                </select>
              </div>
            </div>

            <h2>
              <strong>{{'PURCHASE.VEHICLE_INFO.TITLE'|translate}}
                <strong>
            </h2>

            <hr>

            <div class="form-group">

              <label for="inputInsuranceSizeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.TYPE'|translate}}
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="selContinent" ng-model="ic.insurance.vehicle.type" ng-options="type.make_display for type in ic.types">
                  <option value="">{{'PURCHASE.VEHICLE_INFO.TYPE'|translate}}</option>
                </select>
              </div>
            </div>


            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.MODEL'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.MODEL'|translate}}" required="true" ng-model="ic.insurance.vehicle.model">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceEsValueRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.YEAR_OF_PRODUCTION'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.YEAR_OF_PRODUCTION'|translate}}" required="true" ng-model="ic.insurance.vehicle.productionYear">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.REGISTRATION_NUM'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.REGISTRATION_NUM'|translate}}" required="true" ng-model="ic.insurance.vehicle.registrationNumber">
              </div>
            </div>

            <div class="form-group">

              <label for="inputInsuranceAgeRE" class="col-sm-2 control-label">
                {{'PURCHASE.VEHICLE_INFO.VIN_NUM'|translate}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="insurDur" placeholder="  {{'PURCHASE.VEHICLE_INFO.VIN_NUM'|translate}}" required="true" ng-model="ic.insurance.vehicle.vinNumber">
              </div>
            </div>

          </div>

          <hr>
          <div>
            <h2>
              <strong>
                {{'COMMON.AMOUNT'|translate}}&nbsp;&nbsp;{{ic.insurance.travel.duration * ic.insurance.travel.numberOfPersons * ic.insuranceBase + (ic.insurance.travel.region + '').length|currency}}
                <strong>
            </h2>

          </div>

          <hr>

          <div class="form-group">
            <div class="col-sm-offset-2 col-md-3">

              <button type="button" ng-click="ic.save()" class="btn btn-success btn-large">
                <span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>{{'PURCHASE.PROCEED'|translate}}
              </button>
            </div>


            <div class="col-md-4">

              <button type="button" class="btn btn-info btn-large" ng-click="ic.viewRealEstateOptions()" scroll-to="realEstateFields">
                <span class="glyphicon glyphicon-home">&nbsp;</span> {{'PURCHASE.REALESTATE'|translate}}
              </button>
            </div>

            <div class="col-md-2">

              <button type="button" class="btn btn-warning btn-large" ng-click="ic.viewVehicleOptions()" scroll-to="vehicleFields">
                <span class="glyphicon glyphicon-road">&nbsp;</span> {{'PURCHASE.VEHICLE'|translate}}
              </button>
            </div>

          </div>

        </form>
      </div>
    </div>

    <div class="col-md-12">
      <br>
      <br>
      <br>
    </div>
  </div>
