<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row divPicture">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="jumbotron">
          <h2>
            {{'PURCHASE.TITLE'|translate}}
          </h2>
          <p>
            {{'PURCHASE.TEXT'|translate}}
          </p>
          <p>
            <a class="btn btn-primary btn-large" ui-sref='main.home'>  {{'PURCHASE.HOME_PAGE'|translate}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h2>
          <strong>{{'DETAILS_PAGE.TITLE'|translate}}
            <strong>
        </h2>

        <h3>
          {{'DETAILS_PAGE.LEFT'|translate}} : {{idc.numToInsert}}
        </h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>
                {{'PURCHASE.NAME'|translate}}&nbsp;{{"COMMON.AND"|translate}}&nbsp;{{'PURCHASE.SURNAME'|translate}}
              </th>
              <th>
                JMBG
              </th>
              <th>
                {{'PURCHASE.PASSPORT'|translate}}
              </th>
              <th>
                {{'PURCHASE.ADDRESS'|translate}}
              </th>
              <th>
                {{'PURCHASE.PHONE_NUMBER'|translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in idc.insurance.travel.users" ng-click="idc.editSelected(user);idc.openModal();">
              <td>
                {{user.name}}&nbsp;{{user.surname}}
              </td>
              <td>
                {{user.jmbg}}
              </td>
              <td>
                {{user.passportNum}}
              </td>
              <td>
                {{user.address}}
              </td>
              <td>
                {{user.phoneNum}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <button type="button" ng-click="idc.addUser();idc.openModal()" class="btn btn-info btn-large pull-left" data-toggle="tooltip" ng-disabled="idc.numToInsert == 0" data-placement="left" title="{{'DETAILS_PAGE.ADD_TOOLTIP'|translate}}">
        {{'DETAILS_PAGE.ADD_USER'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </div>

    <div class="col-md-3 col-md-offset-8">
      <button type="button" ui-sref='main.insuranceDetails' ng-click="ic.setObject()" class="btn btn-success btn-large pull-right" ng-disabled="idc.numToInsert > 0" data-toggle="tooltip" data-placement="top" title="{{'MODAL.TOOLTIP'|translate}}">
        {{'COMMON.NEXT'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>


    <div class="col-md-12">
      <br>
      <br>
      <br>
    </div>
  </div>
