<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row divPicture">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="jumbotron">
          <h2>
            {{'PURCHASE.TITLE'|translate}}
          </h2>
          <p>
            {{'PURCHASE.TEXT'|translate}}
          </p>
          <p>
            <a class="btn btn-primary btn-large" ui-sref='main.home'>  {{'PURCHASE.HOME_PAGE'|translate}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h2>
          <strong>{{'MARKETING.PART1'|translate}}
            <strong>
        </h2>
        <hr>

        <form class="form-horizontal" role="form">

          <div class="form-group">

            <label for="inputInsuranceDur" class="col-sm-2 ">
              {{'PURCHASE.INSURANCE_DURATION'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="number" min="0" class="form-control" placeholder="{{'PURCHASE.INSURANCE_DURATION'|translate}}" required ng-model="ic.insurance.travel.duration">
            </div>
          </div>

          <div class="form-group">
            <br>
            <label for="inputTravelingReg" class="col-sm-2 ">
              {{'PURCHASE.TRAVELING_REGION'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" ng-model="ic.insurance.travel.region" uib-typeahead="state for state in ic.states | filter:$viewValue | limitTo:8" class="form-control" placeholder="{{'PURCHASE.TRAVELING_REGION'|translate}}" required>
            </div>
          </div>

          <div class="form-group">
            <br>
            <label for="inputPersonsAge" class="col-sm-2 ">
              {{'PURCHASE.NUMBER_OF_PERSONS'|translate}}
            </label>
            <label for="inputPersonsAge" class="col-sm-2 control-label">
              {{'YEARS.YOUNGER'|translate}} 18
            </label>
            <div class="col-sm-1">
              <input type="number" min="0" max="99" class="form-control" required="true" ng-model="ic.insurance.travel.less">
            </div>

            <label for="inputPersonsAge" class="col-sm-2 control-label">
              18-65
            </label>
            <div class="col-sm-1">
              <input type="number" min="0" max="99" class="form-control" required="true" ng-model="ic.insurance.travel.between">
            </div>

            <label for="inputPersonsAge" class="col-sm-2 control-label">
              {{'YEARS.OVER'|translate}}65
            </label>
            <div class="col-sm-1">
              <input type="number" min="0" max="99" class="form-control" required="true" ng-model="ic.insurance.travel.over">
            </div>
          </div>

          <div class="form-group">
            <br>
            <label for="inputDoesSport" class="col-sm-2 ">
              {{'PURCHASE.DOES_SPORT'|translate}}
            </label>
            <div class="col-sm-10">
              <div class="checkbox">

                <label>
                  <input type="checkbox" name="isDoingSport" ng-model="ic.insurance.travel.doesSport"> {{'PURCHASE.CLICK_SPORT'|translate}}
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-hide="!ic.insurance.travel.doesSport">
            <br>
            <label for="inputSport" class="col-sm-2 ">
              {{'PURCHASE.SPORT'|translate}}
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="sport" placeholder="{{'PURCHASE.SPORT'|translate}}" ng-model="ic.insurance.travel.sport">
            </div>
          </div>

          <div class="form-group">
            <br>
            <label for="inputInsurAmount" class="col-sm-2 ">
              {{'PURCHASE.INSURANCE_AMOUNT'|translate}}
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="selContinent" ng-model="ic.insurance.travel.insuredAmount">
                <option>10000</option>
                <option>20000</option>
                <option>30000</option>
                <option>40000 </option>
              </select>

            </div>
          </div>

      </div>

      <div class="col-md-1">
        <br>
      </div>
      <div class="form-group">

        <div class="row">
          <div class="col-md-9">
            <br>
          </div>

          <div class="col-md-3">
            <br>
            <button type="submit" ng-click="ic.calculate();ic.openModal()" class="btn btn-info btn-large pull-left" data-toggle="tooltip" data-placement="left" title="{{'COMMON.PREVIEW_TOOLTIP'|translate}}">
              {{'COMMON.PREVIEW'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" ui-sref='main.insuranceDetails' ng-click="ic.setObject()" class="btn btn-success btn-large" data-toggle="tooltip" data-placement="top" title="{{'MODAL.TOOLTIP'|translate}}">
              {{'COMMON.NEXT'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="glyphicon glyphicon-arrow-right"></span>
            </button>

          </div>

        </div>

      </div>

      </form>
    </div>
  </div>

  <div class="col-md-12">
    <br>
    <br>
    <br>
  </div>

  

</div>
