<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="center">
            {{'ABOUT_PAGE.H1'|translate}}
          </h1>
          <p>
            {{'ABOUT_PAGE.TEXT'|translate}}
          </p>
          <p>
            <a class="btn btn-primary btn-large" scroll-to="members" duration="2000">  {{'ABOUT_PAGE.TEAM_MEMBERS'|translate}}</a>
          </p>
        </div>
      </div>
    </div>
    <section id="contact-info">
      <div class="gmap-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-center">
              <div class="gmap">
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="642" height="443" src="https://maps.google.com/maps?hl=en&q=ФТН-СИИТ, Нови Сад, Војводина&ie=UTF8&t=roadmap&z=17&iwloc=B&output=embed">
                  <div>
                    <small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small>
                  </div>
                  <div>
                    <small><a href="http://buyproxies.io/">private proxy</a></small>
                  </div>
                </iframe>
              </div>
            </div>

            <div class="col-sm-7 map-content">
              <ul class="row">
                <li class="col-sm-8">
                  <address>
                    <h5>{{'NAVBAR.TEAM'|translate}} </h5>
                    <p>Narodnog fronta 21b
                      <br> Novi Sad, 21000</p>
                    <p>GitHub: https://github.com/LaudaDev/sep-2015
                      <br>Trello : https://trello.com/b/GRu8S1Wx/sep-project</p>
                  </address>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-1" id="members">
      </div>
      <div class="col-md-2">
        <img alt="Bootstrap Image Preview" src="./assets/images/zorana.jpg" class="img-circle" />
        <h3>
          Zorana Deurić
        </h3>
        <blockquote>
          <p>
            "The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy."
          </p>
          <small>
             Martin Luther King
          </small>
        </blockquote>
      </div>
      <div class="col-md-2">
        <img alt="Bootstrap Image Preview" src="./assets/images/dalibor.jpg" class="img-circle" />
        <h3>
          Dalibor Pavičić
        </h3>
        <blockquote>
          <p>
            "A wise man can learn more from a foolish question than a fool can learn from a wise answer."
          </p>
          <small>
            Bruce Lee
        </blockquote>
      </div>
      <div class="col-md-2">
        <img alt="Bootstrap Image Preview" src="./assets/images/aleksa.jpg" class="img-circle" />
        <h3>
          Aleksandar Ratkov
        </h3>
        <blockquote>
          <p>
            "I can accept failure, everyone fails at something. But I can't accept not trying."
          </p>
          <small>Michael Jordan
          </small>
        </blockquote>
      </div>
      <div class="col-md-2">
        <img alt="Bootstrap Image Preview" src="./assets/images/zare.jpg" class="img-circle" />
        <h3>
          Jovica Zarić
        </h3>
        <blockquote>
          <p>
            "Do your best at every job. Don't sleep! Success generates more success so be hungry for it. Hire good people with a passion for excellence."
          </p>
          <small>
            Steve Jobs
          </small>
        </blockquote>
      </div>
      <div class="col-md-2">
        <img alt="Bootstrap Image Preview" src="./assets/images/goran.jpg" class="img-circle" />
        <h3>
          Goran Todorović
        </h3>
        <blockquote>
          <p>
            "I always go extreme ways."
          </p>
          <p>
            "Giving up is something a Lauda doesn't do."
          </p>

          <small>
            Niki Lauda
          </small>
        </blockquote>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
