<div class="modal-header" data-ng-init="bmc.currentLocale()">
  <h2 class="modal-title" align="center"><strong>{{'MODAL.TITLE'|translate}}</strong></h2>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">{{'MODAL.INSURANCE_DURATION'|translate}}</label>
      <div class="col-sm-8">
        <label class="control-label col-sm-4" for="name">{{bmc.insurance.duration}}</label>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="postalCode">{{'PURCHASE.TRAVELING_REGION'|translate}}</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.region}}</label>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="control-label col-sm-6" for="postalCode">{{'PURCHASE.NUMBER_OF_PERSONS'|translate}}</label>
      </div>

      <div class="form-group" ng-hide="bmc.insurance.less == null">
        <label class="control-label col-sm-4" for="postalCode">{{'YEARS.YOUNGER'|translate}} 18</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.less}}</label>
        </div>
      </div>
      <div class="form-group" ng-hide="bmc.insurance.between == null" >
        <label class="control-label col-sm-4" for="postalCode">18-65</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.between}}</label>
        </div>
      </div>
      <div class="form-group" ng-hide="bmc.insurance.over == null">
        <label class="control-label col-sm-4" for="postalCode">{{'YEARS.OVER'|translate}}65</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.over}}</label>
        </div>
      </div>
      <hr>
      <div class="form-group" ng-hide="!bmc.insurance.doesSport">
        <label class="control-label col-sm-4" for="postalCode">{{'PURCHASE.WHICH_SPORT'|translate}}</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.sport}}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="postalCode">{{'PURCHASE.INSURANCE_AMOUNT'|translate}}</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.insuredAmount}}</label>
        </div>
      </div>
    </div>
    <hr>
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label col-sm-4" for="postalCode">{{'MODAL.FOR_PAY'|translate}}</label>
        <div class="col-sm-8">
          <label class="control-label col-sm-4" for="name">{{bmc.insurance.amountToPay | currency}}</label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <!-- <button class="btn btn-success" type="button" ui-sref='main.insuranceDetails'>{{'MODAL.OK'|translate}}</button> -->
      <button class="btn btn-primary" type="button" ng-click="bmc.cancel()">{{'COMMON.BACK'|translate}}</button>
    </div>
